<div>
  This is all-userscomponent
  <div class="container">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>username</th>
        <th>password</th>
        <th>ethAddress</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let alluser of allusers">
        <td><span>{{alluser.id}}</span></td>
        <td><span>{{alluser.username}}</span></td>
        <td><span>{{alluser.password}}</span></td>
        <td><span>{{alluser.ethAddress}}</span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
