/* .container{
  display: flex;
  justify-content: center;
} */

.nav {
  background-color: rgb(72, 72, 72);
  height: 40px;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  padding-right: 20px;
  padding-bottom:30px;
}

.nav__link {
  width: 20%;
  font-size: 20px;
  padding: 10px;
  color: white;
  font-weight: 700;
  text-decoration: none;
  border: 1px white solid;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.nav__link:hover{
  background-color: aliceblue;
  color: black;

}

.userHeading{
  width:100%;
  display: flex;
  font-weight: 700;
  font-size: 20px;
}

.user__detailHeading{
  padding: 20px;
  width:30%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin:0;
  border:1px solid black;

}

.user{

  width:100%;
  display: flex;
  /* border:1px solid black; */
  }

.user__detail{
  padding: 20px;
  width:30%;
  font-size:20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border:1px solid black;
  margin:0;
}

.user:nth-child(odd) {background: #CCC}
.user:nth-child(even) {background: #FFF}




