<div>
  This is imagebyid
  <div class="container">
    <table class="table table-bordered table-striped">
      <tbody>
        <td><span>{{imagebyid.id}}</span></td>
        <img src="imagebyid.image"/>
        <!-- <img src="http://localhost:9090/users/{{allImage.author.id}}/images/{{allImage.id}}"/> -->
        <!-- <td><span>{{allImage.image}}</span></td> -->
        <td><span>{{imagebyid.author.id}}</span></td>
        <td><span>{{imagebyid.author.username}}</span></td>
        <td><span>{{imagebyid.contactAddress}}</span></td>

      </tbody>
    </table>
  </div>
</div>
