<div class="footer__div mat-elevation-z8">
<mat-toolbar class="footer mat-elevation-z8" color="primary" >
    <span class="footer"
      ><mat-icon class="footer__icon">facebook</mat-icon>
      <mat-icon class="footer__icon">mail</mat-icon>
      <mat-icon class="footer__icon">phone_in_talk</mat-icon></span
    ></mat-toolbar
  >
  <mat-toolbar class="footer" color="primary">Info  :  Support  :  Marketing </mat-toolbar>
  <mat-toolbar class="footer" color="primary"> Term of Use  :  Private Policy</mat-toolbar>
  <mat-toolbar class="footer" color="primary"><mat-icon class="footer__icon">copyright</mat-icon> 2022  NFT Publishing System </mat-toolbar>

</div>
