.footer__div{
 position: absolute;
  bottom: 0;
  width:100%;
}

.footer{

display: flex;
justify-content: center;
letter-spacing: 2px;

}

.footer__icon{
  margin-right: 20px;
  margin-left: 20px;
  /* transform: scale(1.5); */
}

