<div class="register-page">
  <div class="register">
    <div class="register__photo">
      <img
        class="register__photo--image"
        src="../../assets/images/registerphoto.JPG"
        alt="colored-sculpture"
      />
    </div>

    <div class="register__right">
      <h1 class="register__heading">SIGN UP</h1>
      <div class="register__form">
        <label class="register__label">USERNAME</label>
        <input class="register__input" type="text" id="registerUsername" #registerUsername />
        <label class="register__label">PASSWORD</label>
        <input class="register__input" type="password" id="registerPassword" #registerPassword />
        <!-- <label class="register__label">EMAIL</label>
        <input class="register__input" type="text" /> -->
          </div>
      <div>
        <button class="register__button" (click)="userRegistrationProcess(registerUsername.value,registerPassword.value)">SIGN UP</button>
        <!--*ngIf error message is truthy if we have a  string that has certain characters, falsy if not-->
        <p style="color: red; text-align:center;">{{userRegMsg}}</p>
      </div>
      <p class="register__para">Already have an account ?<a class="register__link" routerLink="/">Login</a>
      </p>
    </div>
  </div>
</div>

