<app-navbar></app-navbar>
    <div class="allUserCard" fxLayoutAlign="space-evenly" fxLayout="row wrap"   >
      <mat-card class="allUserProfile  mat-elevation-z12" *ngFor="let alluser of allusers;let i = index" >
        <mat-card-header class="allUserProfile__header">
          <img  mat-card-avatar src="{{randomUsers[i].fakeImage }}" />

          <mat-card-title>User Name :{{ alluser.username }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img
            mat-card-image
            class="user__image"

            src="{{  randomUsers[i].fakeImage }}"
            mat-card-image
          />
          <p class="user__detail">Id : {{ alluser.id }}</p>
          <!-- <p class="user__detail">{{alluser.username}}</p> -->
          <!-- <p class="user__detail">{{ alluser.password }}</p> -->
        </mat-card-content>
      <mat-card-footer>
        <mat-card-actions>

          <a routerLink="{{alluser.id}}/images" class="userProfile__icons" mat-raised-button color="primary">Show Images</a>
        </mat-card-actions>
      </mat-card-footer>
      </mat-card>
    </div>
<app-footer><app-footer> </app-footer></app-footer>
