<p>Welcome mint-nft works! {{_firstName}}</p>
<div class="register__right">
    <h1 class="register__heading">MINT NFT</h1>
    <div class="register__form">
        <label class="register__label">Enter NFT Name</label>
        <input class="register__input" type="text" id="nftname" #nftname />
        <label class="register__label">Enter Symbol</label>
        <input class="register__input" type="text" id="nftsymbol" #nftsymbol />

    </div>
    <div>
        <button class="register__button" (click)="onSubmit(nftname.value,nftsymbol.value)" >MINT NFT</button>
        
    </div>
</div>