<app-navbar></app-navbar>


<div class="nftTableContainer" fxLayout="column"  >

  <table mat-table class="mat-elevation-z8 nftTableHeader" fxLayoutAlign="space-around center" style="color:#3f51b5" >

    <ng-container class="nftTable__column" matColumnDef="position">
      <th mat-header-cell > NFT Id </th>
    </ng-container>

    <ng-container class="nftTable__column" matColumnDef="position">
      <th mat-header-cell > NFT Name </th>
    </ng-container>

    <ng-container class="nftTable__column symbol" matColumnDef="position">
      <th mat-header-cell > NFT Symbol </th>
    </ng-container>

    <ng-container class="nftTable__column" matColumnDef="position">
      <th mat-header-cell > NFT Image Id </th>
    </ng-container>

  </table>

    <table *ngFor="let NFT of nfts" mat-table class="mat-elevation-z8 nftTable"  fxLayoutAlign="space-around center">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->

      <ng-container matColumnDef="position">
        <td mat-cell > {{NFT.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <td mat-cell> {{NFT.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="name">
        <td mat-cell> {{NFT.symbol}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="name">
        <td mat-cell> {{NFT.image.id}} </td>
      </ng-container>

      <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let  NFT; columns: displayedColumns;"></tr> -->
    </table>

  </div>


<app-footer></app-footer>

