<app-navbar></app-navbar>
<mat-card class="userImageFileUpload">
	<input #imageInput type="file" />
	<button (click)="submitImage(imageInput)" type="button" mat-raised-button color="primary">
    Submit Image
  </button>
  </mat-card>
  <div class="userImage" fxLayoutAlign="space-evenly" fxLayout="row wrap">
    <!-- TODO this src is incorrect, adding prefix of index site -->
    <mat-card
      class="userImageCard mat-elevation-z12"
      *ngFor="let image of images">
      <!-- <img class="userImage__image" src="{{image.imageURL}}" /> -->
      <mat-card-content>
        <img class="userImage__image" src="{{image.imageURL}}" alt="Image Not Found" />

        <p class="userImage__para">IMAGE ID: {{ image.id }}</p>
        <p class="userImage__para">
          USER ID : {{ image.author.id }}
        </p>
           </mat-card-content>
      <mat-card-footer>
        <mat-card-actions>
        <button mat-raised-button color="primary" (click)="openDialog()" >Mint NFT</button>
        <button mat-raised-button color="primary" routerLink="{{ image.id }}" >Show Image</button>
      </mat-card-actions>
    </mat-card-footer>
    </mat-card>

  </div>
<app-footer></app-footer>
