<app-navbar></app-navbar>
<div class="container">

    <nav class="nav">
      <ul>
        <a class="nav__link" routerLink="/user">My Profile</a>
        <a class="nav__link" routerLink="/users">All Profiles</a>
        <a class="nav__link" routerLink="/login">Login</a>
        <a class="nav__link" routerLink="/login">Logout</a>
      </ul>
    </nav>


    <div class="user">
      <div class="user__detail" *ngFor="let image of images">
        <p class="user__para">
          IMAGE ID: <span>{{ image.id }}</span>
        </p >
        <img class="user__image" src="{{image.imageURL}}" />
        <p class="user__para">
          USER ID : <span>{{ image.author.id }}</span>
        </p>
        <p>
          <button (click)="openDialog()">press me </button>
        </p>

      </div>
    </div>
  </div>

