
.userImage {
  display: flex;
  justify-content: center;
  margin: 5%;
}

.userImageCard {
  width:26%;
  padding:2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.userImage__image{
  width:100%;
  height: 80%;

  object-fit:fill;
}

.userImage__image:hover{
cursor:pointer;
}

.userImage__content{
height: 80%;
}

.userImage__button{
  margin: 0;
}

