.userImage {
  display: flex;
  justify-content: center;
  margin: 5%;
}

.userImageCard {
  width:26%;
  padding:2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.userImage__image{
  width:100%;
  object-fit:cover;
}
