<div class="login-page">
  <div class="login">
    <div class="login__photo">
      <img
        class="login__photo--image"
        src="../../assets/images/loginphoto.jpg"
        alt="colored-sculpture"
      />
    </div>

    <div class="login__right">
      <h1 class="login__heading">LOGIN</h1>
      <div class="login__form">
        <label class="login__label">USERNAME</label>
        <input class="login__input" type="text" />
        <label class="login__label">PASSWORD</label>
        <input class="login__input" type="password" />
      </div>
      <div>
        <button class="login__button">LOGIN IN</button>
      </div>
      <p class="login__para">Don't have an account ?<a class="login__link" routerLink="/register">Sign Up</a>
      </p>
    </div>
  </div>
</div>
