.container {
  text-align: center;
  height: 800vh;
  background-color: rgb(94, 91, 91);
}

.nav {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  margin-right: 20px;
}

.nav__link {
  width: 20%;
  font-size: 20px;
  padding: 10px;
  color: white;
  font-weight: 700;
  text-decoration: none;
  border: 1px white solid;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.nav__link:hover{
  background-color: aliceblue;
  color: black;
}

.user {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top:30px;
}

.user__detail {
  border: 5px white solid;
  border-radius: 5px;
  margin-top: 5px;
  padding: 17px;
  width: 26%;
  height:350px;
  display: flex;
  flex-direction: column;
}

.user__image {
  width: 100%;
  height: 100%;
}

.user__para{
  text-align: left;
  color: white;
  width: 100%;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  /* font-size: 10px; */
}
